body
{
  background-color: #164A41 !important;
  color: #FFFFFF !important;
  font-size: 20px !important;
}

.container
{
  font-size: 20px !important;
}

img
{
  height: 100px;
}

.title
{
  padding-top: 50px;
  display: flex;
  width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title::after
{
  content: '';
	border-top: 2px solid;
	margin-left: 20px;
	flex: 1 0 60px;
	color: white;
}

.navbar
{
  background-color: #164A41 !important;
  color: white !important;
}

.navbar-toggler
{
  color: white !important;
}

.navbar-custom .navbar-toggler
{
  border-color: white;
}

.navbar-custom .navbar-toggler .navbar-toggler-icon
{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link
{
  color: white;
  background-color: inherit !important;
  border: none !important;;
}

.nav-link:hover
{
  color: #F1B24A !important;
}

.active .text, .active .classtext
{
  color: #F1B24A !important;
  border: none !important;
}

.list1
{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.classList
{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.jobTitle
{
  padding-top: 10px;
}

.jobDate
{
  padding-bottom: 20px;
}

.wrapper 
{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.box 
{
  background-color: #4D774E;
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
  text-align: center;
}

.box-title a:hover
{
  color: #F1B24A;
  text-decoration: none;
}

.box-title a
{
  color: white;
}

.box-text
{
  margin: 20px;
}

.description
{
  word-wrap: break-word;
}

.program
{
  font-size: 15px;
}

.folder
{
  height: 40px;
  width: 40px;
  margin-bottom: 20px;
  stroke-width: 2;
  fill: none; 
  stroke: #F1B24A;
}

footer
{
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 800px) 
{
  .tab
  {
    float: left;
    border-left: 3px solid white;
  }

  .nav-tabs
  {
    border-bottom: none !important;
    flex-direction: column;
  }

  .tab-content
  {
    float: left;
    width: 68%;
  }

  .Certifications
  {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }
}

@media screen and (max-width: 799px) 
{
  body
  {
    font-size: 16px !important;
  }

  .Certifications
  {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  .classtext
  {
    font-size: 14px;
  }

  .tab .nav
  {
    flex-wrap: nowrap;
  }
}
