#projects .card-header {
    background-color: rgb(33, 37, 41);
    padding: 0;
}

.card-header img {
    object-position: top left;
    object-fit: cover;
}

.card-hover {
    position: relative;
    overflow: hidden;
}

.card-hover .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(121, 21%, 38%, 0.749);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.card-hover:hover .card-overlay {
    opacity: 1;
}

/* Extra small devices (phones, 0px and up) */
@media only screen and (max-width: 599px) {
    #projects .card {
        min-height: 272.800px;
        max-height: 272.800px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #projects .card > * {
        min-height: 250px;
        max-height: 250px;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #projects .card > * {
        min-height: 250px;
        max-height: 250px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    #projects .card > * {
        min-height: 250px;
        max-height: 250px;
    }
}

/* Extra extra large devices (very large desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
    #projects .card > * {
        min-height: 250px;
        max-height: 250px;
    }
}