.workItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #0b2722;
  background: linear-gradient(90deg, #0b2722 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
}

.workItem img {
  width: 50px;
}

#experience div {
  margin-bottom: 20px;
}